<!-- Need wm_tts node and camera (usb_cam, openni2_launch or anything else, modify camera_topic according to -->

<launch>

	<node name="object_recognition_node" pkg="wm_tensorflow" type="object_recognition_node.py" output="screen">
		<param name="camera_topic" value="/camera/rgb/image_raw" />		
	</node>
</launch>
