<launch>
  <!-- sara_configuration -->
  <include file="$(find sara_launch)/sara_configuration/sara_configuration.launch"/>

  <!-- LIDAR -->
  <include file="$(find map_laser)/lfilter.launch"/>


  <!-- NAV -->
  <arg name="odom_topic" default="/odom" />

  <remap from="/odom" to="$(arg odom_topic)" />
  <remap from="base_scan" to="/scan_filtered"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" clear_params="true" >
      <rosparam file="$(find wm_2dnav)/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find wm_2dnav)/config/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find wm_2dnav)/config/dwa/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find wm_2dnav)/config/dwa/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find wm_2dnav)/config/dwa/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find wm_2dnav)/config/dwa/base_global_planner_params.yaml" command="load" />

      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
  </node>


  <!-- RVIZ  -->
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find sara_gazebo)/../../rviz_cfg/urdf.rviz"/>
    <param name="use_gui" value="$(arg gui)"/>

  <node name="rviz" pkg="rviz" type="rviz" args="$(arg rvizconfig)" required="true" />

</launch>
