<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
   <xacro:include filename="$(find sara_description)/urdf/torso_v1/torso.gazebo.xacro" />
   <xacro:macro name="sara_torso_v1" params="name parent">
       <xacro:sara_torso_gazebo_v1 name="${name}" parent="${parent}"/>
       <link name="${name}_link">
         <visual>
            <geometry>
               <mesh filename="package://sara_description/meshes/torse.STL" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="-0.14427 -0.197233 0" rpy="1.5708 0 1.5708"/>
            <material name="black">
               <color rgba="0.12 0.12 0.12 1"/>
            </material>
         </visual>
         <collision>
            <geometry>
               <mesh filename="package://sara_description/meshes/torse.STL" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="-0.14427 -0.197233 0" rpy="1.5708 0 1.5708"/>
         </collision>
         <inertial>
            <mass value="10"/>
            <origin xyz="-0.14427 -0.197233 0" rpy="1.5708 0 1.5708"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
         </inertial>
     </link>
     <joint name="${parent}_${name}_joint" type="fixed">
         <parent link="${parent}_link"/>
         <child link="${name}_link"/>
         <limit effort="1000.0" lower="0" upper="0.5" velocity="0.2"/>
         <origin xyz="0.177374 0 0.70531" rpy="0 0 0" />
         <axis xyz="0 0 1" />
    </joint>
  </xacro:macro>
</robot>
