<?xml version="1.0" ?>
<launch>
    <!-- joint state publisher gui arg -->
    <arg name="gui" default="false" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(find sara_description)/urdf/sara.urdf.xacro"/>
    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg gui)"/>
        <param name="publish_default_positions" value="true" />
    </node>
</launch>
