<?xml version="1.0" ?>

<launch>
    <!-- joint state publisher gui arg -->
    <arg name="gui" default="false" />

    <!--CAM SETUP 
    <node pkg="tf" type="static_transform_publisher" name="camera_depth_frame" args="0.000 0.0175 0.000 0.000 0.000 0.000 1.000  camera_link camera_depth_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_depth_optical_frame" args="0.000 0.0175 0.000 -0.500 0.500 -0.500 0.500 camera_link camera_depth_optical_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_rgb_frame" args="0.000 0.0545 0.000 0.000 0.000 0.000 1.000 camera_link camera_rgb_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_rgb_optical_frame" args="0.000 0.0545 0.000 -0.500 0.500 -0.500 0.500 camera_link camera_rgb_optical_frame 100"/>
-->
    <!-- load joint controller configurations from YAML file to parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find sara_description)/urdf/sara.urdf.xacro"/>

    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg gui)"/>
        <rosparam command="load" file="$(find sara_description)/config/neckHead.yaml"/>
        <rosparam param="source_list">['/neckHead/state', '/arm_base_joint_states']</rosparam>
		<param name="publish_default_positions" value="true" />
    </node>
</launch>
