<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:include filename="$(find sara_description)/urdf/base_v1/base.gazebo.xacro"/>
  <xacro:macro name="sara_base_v1" params="name parent">
    <xacro:sara_base_gazebo_v1 name="${name}" parent="${parent}"/>
    <!-- Lien entre la base et la colonne vertebral-->
    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="0.71 0.52 0.095"/>
        </geometry>
        <origin xyz="0.0 0 0.045" rpy="0 0 0"/>
        <material name="grey">
        <color rgba="0.62 0.62 0.62 1"/>
        </material>
      </visual>
      <visual>
        <geometry>
          <box size="0.55 0.65 0.57"/>
        </geometry>
        <origin xyz="-0.115 0.0 1.0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.7637 0.64311 0.14"/>
        </geometry>
        <origin xyz="0.0 0 0.07" rpy="0 0 0"/>
      </collision>
      <collision>
        <geometry>
          <box size="0.55 0.64311 0.57"/>
        </geometry>
        <origin xyz="-0.115 0 0.42" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="10"/>
        <origin xyz="-0.115 0 0.42" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>
    <joint name="${name}_spine_joint" type="fixed">
      <parent link="base_link"/>
      <child link="spine_link"/>
      <origin xyz="0.2 0 0" rpy="0 0 0" />
      <axis xyz="0 0 1" />
    </joint>

  <!-- Lien entre le torse et la colonne vertebrale -->
    <link name="spine_link">
      <visual>
        <geometry>
          <cylinder length="0.9" radius="0.04"/>
        </geometry>
        <origin xyz="0 0 0.49" rpy="0 0 0"/>
        <material name="grey">
          <color rgba="0.62 0.62 0.62 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.9" radius="0.07"/>
        </geometry>
        <origin xyz="0 0 0.49" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="10"/>
        <origin xyz="0 0 0.49" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <!-- Lidar -->
    <link name="lidar_link">
      <visual>
        <geometry>
          <cylinder length="0.1" radius="0.03"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="orange">
          <color rgba="1 0.5 0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.1" radius="0.03"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>
    <joint name="laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="lidar_link"/>
      <origin xyz="0.34 0 0.19" rpy="0 0 0" />
    </joint>

    <!-- Wheel -->
    <xacro:macro name="wheel" params="prefix y_reflect x_reflect ">
        <link name="${prefix}_wheel">
            <visual>
                <geometry>
                    <cylinder length="0.04" radius="0.15"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <material name="black">
                    <color rgba="0 0 0 0"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <cylinder length="0.04" radius="0.15"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
        </link>

        <joint name="base_to_${prefix}_wheel" type="conti">
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <origin xyz="${y_reflect * } ${x_reflect * } 0" rpy/>
        </joint>

    </xacro:macro>
    <xacro:wheel prefix="front_right" y_reflect="0.5" x_reflect="0.5"/>
    <xacro:wheel prefix="front_left" y_reflect="0.5" x_reflect="0.5"/>
    <xacro:wheel prefix="rear_right" y_reflect="0.5" x_reflect="0.5"/>
    <xacro:wheel prefix="rear_left" y_reflect="0.5" x_reflect="0.5"/>

</robot>
