<launch>
	<node name="recognizer_1" pkg="pocketsphinx" type="recognizer.py" output="screen">
		<param name="mic_name" value="alsa_card.pci-0000_02_02.0"/>
		<param name="lm" value="$(find sara_vocab)/names_vocab/names.lm"/>
		<param name="dict" value="$(find sara_vocab)/names_vocab/names.dic"/>
	</node>
</launch>
