<launch>

	<include file="$(find sara_launch)/safety/arduino_safety_stop.launch" />
	<include file="$(find wm_2dnav)/launch/move_base.launch" />
	<include file="$(find zbar_ros)/launch/wm_zbar_ros.launch" />
	<include file="$(find wm_tts)/launch/wm_tts.launch"/>
  	<include file="$(find sara_vocab)/launch/sara_vocab.launch"/>
	<include file="$(find wm_people_follower)/launch/wm_people_follower.launch" />
	<include file="$(find sara_launch)/people_launch/wm_leg_detector.launch" />
	<include file="$(find sara_launch)/people_launch/wm_face_detector.launch" />
	<node name="robocup_navigation" pkg="wm_robocup2016" type="stage1_navigation.py" output="screen" />
	<node pkg="open_door_detector" type="detect_open_door" name="detect_open_door" output="screen" />
	<node pkg="rosbag" type="record" name="rosbag_recorder" args="-O ~/WalkingMachine_navigation1.bag /move_base/NavfnROS/plan /move_base/global_costmap/costmap" />
</launch>
