<launch>
            <remap from="base_scan" to="/laser/scan"/>
            <remap from="obstacles_cloud" to="/camera/obstacles_cloud"/>
            <remap from="ground_cloud" to="/camera/ground_cloud"/>
            <remap from="/map" to="/map"/>
            <remap from="/odom" to="/odom"/>
            <remap from="move_base_simple/goal" to="/planner_goal"/>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" clear_params="true" output="screen">
            <param name="base_global_planner" value="navfn/NavfnROS"/>
            <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find wm_2dnav)/config/local_costmap_params.yaml" command="load"" />
            <rosparam file="$(find wm_2dnav)/config/global_costmap_params.yaml" command="load"" />
            <rosparam file="$(find wm_2dnav)/config/base_local_planner_params.yaml" command="load" />
            <rosparam file="$(find wm_2dnav)/config/base_global_planner_params.yaml" command="load" />
        </node>
</launch>
