<launch>
  <arg name="context" default="indoors" />
  <arg name="odom_topic" default="/odom" />

  <remap from="base_scan" to="/laser/scan"/>
  <group unless="$(arg dynamic_mapping)">
    <include file="$(find amcl)/examples/wm_amcl.launch" />
  </group>
  <group if="$(arg dynamic_mapping)">
    <include file="$(find gmapping)/launch/wm_slam_gmapping.launch" />
  </group>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" >
	<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wm_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find wm_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find wm_2dnav)/config/dwa_local_planner_params.yaml" command="load" />
    <remap from="/odom" to="$(arg odom_topic)" />
  </node>

</launch>
