<launch>
  <arg name="context" default="indoors" />
  <arg name="odom_topic" default="/odom" />

  <remap from="/odom" to="$(arg odom_topic)" />
  <remap from="base_scan" to="/laser/scan"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" >
    <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wm_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wm_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find wm_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find wm_2dnav)/config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find wm_2dnav)/config/base_global_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />

  </node>

</launch>
