<launch>
    <arg name="show_rviz" default="true"/>
    <arg name="gui" default="false" />
    <arg name="sim" default="false"/>

    <machine name="SARA" env-loader="/opt/ros/indigo/env.sh" address="SARA" user="wm"/>

    <!-- SIM CAM SETUP -->
    <group if="$(arg sim)">
        <arg name="camera_name" default="camera"/>
        <node machine ="SARA" pkg="tf" type="static_transform_publisher" name="hand_camera_calib" args="0.000 -0.020 0.000 0.000 0.000 0.000 1.000 $(arg camera_name)_link $(arg camera_name)/camera_link  100"/>
        <node machine ="SARA" pkg="tf" type="static_transform_publisher" name="camera_depth_frame" args="0.000 -0.020 0.000 0.000 0.000 0.000 1.000  $(arg camera_name)/camera_link $(arg camera_name)/camera_depth_frame 100"/>
        <node machine ="SARA" pkg="tf" type="static_transform_publisher" name="camera_depth_optical_frame" args="0.000 -0.020 0.000 -0.500 0.500 -0.500 0.500 $(arg camera_name)/camera_link $(arg camera_name)/camera_depth_optical_frame 100"/>
        <node machine ="SARA" pkg="tf" type="static_transform_publisher" name="camera_rgb_frame" args="0.000 -0.045 0.000 0.000 0.000 0.000 1.000 $(arg camera_name)/camera_link $(arg camera_name)/camera_rgb_frame 100"/>
        <node machine ="SARA" pkg="tf" type="static_transform_publisher" name="camera_rgb_optical_frame" args="0.000 -0.045 0.000 -0.500 0.500 -0.500 0.500  $(arg camera_name)/camera_link $(arg camera_name)/camera_rgb_optical_frame 100"/>
    </group>

    <!-- load joint controller configurations from YAML file to parameter server -->
    <param name="robot_description" command="cat $(find sara_description)/urdf/sara.urdf"/>

    <!-- publish all the frames to TF -->
    <node machine ="SARA" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node machine ="SARA" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg gui)"/>
        <rosparam command="load" file="$(find sara_description)/config/neckHead.yaml"/>
        <rosparam param="source_list">['/neckHead/state']</rosparam>
    </node>

    <!-- robot visualization in Rviz -->
    <group if="$(arg show_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" output="screen"/>
    </group>
</launch>