<?xml version="1.0"?>
<model>
    <name>sara</name>
    <verion>1.0</verion>
    <sdf>urdf/sara.urdf</sdf>
    <author>
        <name>Thierry Pouplier</name>
        <email>thierrypouplier@gmail.com</email>
    </author>
    <description>
        This is the model of SARA for Gazebo
    </description>
    <include>
      <uri>model://hokuyo</uri>
      <pose>0.2 0 0.2 0 0 0</pose>
    </include>
    <joint name="hokuyo_joint" type="revolute">
      <child>hokuyo::link</child>
      <parent>chassis</parent>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <upper>0</upper>
          <lower>0</lower>
        </limit>
      </axis>
    </joint>
</model>