<launch>
  <!--
  <include file="$(find wm_supreme_planer)/launch/supreme_planer.launch"/>
  <include file="$(find wm_interpreter)/launch/interpreter_test.launch"/>
  -->
  <include file="$(find wm_tts)/launch/wm_tts.launch"/>
  <include file="$(find sara_vocab)/launch/sara_vocab.launch"/>
</launch>
