<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" textfile="$(find sara_description)/urdf/sara.urdf"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find sara_moveit)/config/sara.srdf" />
  
  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <rosparam ns="move_group" command="load" file="$(find sara_moveit)/config/kinematics.yaml"/>
  
</launch>
