<launch>
    <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="frame_id" value="base_laser_link"/>
    <rosparam>
      publish_intensity: false
      angle_min: -1.57
      angle_max: 1.57
      cluster: 1
      skip: 0
      ip_port: 10940
      serial_port: /dev/usb-ports/7-1.2
      frame_id: laser
      calibrate_time: true
      time_offset: 0.0
      publish_multiecho: false
    </rosparam>
    </node>
</launch>
